extends layout

block content
  .auth-container
    .auth-card
      h2 Welcome Back
      p.subtitle Sign in to manage your tasks

      if error
        .error= error

      form(action="/login" method="POST")
        .form-group
          label(for="username") Username
          input(
            type="text"
            id="username"
            name="username"
            placeholder="Enter your username"
            required
          )

        .form-group
          label(for="password") Password
          input(
            type="password"
            id="password"
            name="password"
            placeholder="Enter your password"
            required
          )

        button.auth-btn(type="submit") Sign In

      p.auth-link
        | Don't have an account?
        a(href="/register") Register