extends layout

block content
  h1= title

  .form-card

    if error
      p.error= error

    form(action='/tasks' method='POST')

      div
        label(for='name') Task Name

      div
        input(
          type='text'
          name='name'
          id='name'
          value=taskName
        )

      button.primary-btn(type='submit')
        | Create Task