extends layout

block content
  .auth-container
    .auth-card
      h2 Create Account
      p.subtitle Start organizing your tasks today

      if error
        .error= error

      form(action="/register" method="POST")

        .form-group
          label(for="username") Username
          input(
            type="text"
            id="username"
            name="username"
            placeholder="Enter your username"
            required
          )

        .form-group
          label(for="email") Email
          input(
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email"
            required
          )

        .form-group
          label(for="password") Password
          input(
            type="password"
            id="password"
            name="password"
            placeholder="Create your password"
            required
          )

        button.auth-btn(type="submit") Create Account

      p.auth-link
        | Already have an account?
        a(href="/login") Login